{% style %}
      .shop-redirect {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap:15px;
      }
        .shop-redirect h3 {
        width:100%;
      }
      .shop-redirect div {
      max-width: 110px;
      padding:8px 16px;
      border:1px solid #c3c3c3;
      border-radius:4px;
  }
{% endstyle %}

<div class="shop-redirect">
  <h3 class="">Also available</h3>
  <div class="shopee-redirect">
    <a href=""><img src="https://cdn.shopify.com/s/files/1/0742/3521/6090/files/Tatara_-_Shopee.png?v=1741621034"></a>
  </div>
  <div class="lazada-redirect">
    <a href=""><img src="https://cdn.shopify.com/s/files/1/0742/3521/6090/files/Tatara_-_Lazada.png?v=1741621034"></a>
  </div>
</div>
