<div class="shop-redirect">
  <h3 class="">Also available</h3>
  <div class="shopee-redirect">
    <a href=""><img src=""></a>
  </div>
  <div class="lazada-redirect">
    <a href=""><img src=""></a>
  </div>
</div>
