<span class="single-product---wholesale shopify-trigger--inbox">
  Reach out to us for wholesale orders.
  <span style="color: var(--custom-color-primary) !important; cursor:pointer;">[Click here]</span> to inquire.
</span>
