{% style %}
  .theme-page--title{
    background-size:cover;
    background-repeat:no-repeat;
    padding:3rem;
    }
{% endstyle %}

{% assign themebg = section.settings['theme-page--background'] %}
{% assign titlecenter = section.settings['theme-title--center'] %}

<div
  class="theme-page--title"
  style="{% if theme.bg != blank %}background: url('{{ themebg | image_url }}');{% endif %}{% if titlecenter %} text-align:center; {% endif %}"
>
  <div class="page-width">
    <h1>{{ section.settings['theme-page--title'] | strip_html }}</h1>
  </div>
</div>

{% schema %}
{
  "name": "Page Title",
  "settings": [
    {
      "type":"text",
      "id":"theme-page--title",
      "label": "Page Title",
      "default":"Tatara Japan-Quality Accessories"
    },
    {
      "type":"checkbox",
      "id":"theme-title--center",
      "label": "Center the page title",
      "default":false
    },
    {
      "type":"image_picker",
      "label": "Page Background",
      "id":"theme-page--background"
    }
  ],
  "presets":[
    {
      "name":"Page Title"
    }
  ]
}
{% endschema %}
