{% style %}
  .theme-page--title{
      background-size:cover !important;
      background-repeat:no-repeat !important;
      padding:3rem;
    }
{% endstyle %}

{% assign themebg = section.settings['theme-page--background'] %}
{% assign titlecenter = section.settings['theme-title--center'] %}

<div
  class="theme-page--title"
  style="{% if themebg %} background: url('{{ themebg | image_url }}');{% endif %}{% if titlecenter %} text-align:center; {% endif %}"
>
  <div class="page-width">
    <div class="theme-page--header">
      <h1>{{ section.settings['theme-page--title'] | strip_html }}</h1>
      <p>{{ section.settings['theme-page--description'] | strip_html }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Title",
  "settings": [
    {
      "type":"text",
      "id":"theme-page--title",
      "label": "Page Header Title",
      "default":"Tatara Japan-Quality Accessories"
    },
    {
      "type":"inline_richtext",
      "id":"theme-page--description",
      "label": "Page Header Description",
      "default":"Tatara Japan-Quality Accessories, Shop Now!"
    },
    {
      "type":"checkbox",
      "id":"theme-title--center",
      "label": "Center the page title",
      "default":false
    },
    {
      "type":"image_picker",
      "label": "Page Background",
      "id":"theme-page--background"
    }
  ],
  "presets":[
    {
      "name":"Page Title"
    }
  ]
}
{% endschema %}
